.main {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

.left {
    flex: 1;
    background-image: url("background.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-spacer-left {
    height: 30%;
}

.middle-spacer-left {
    flex: 1;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30%;
}

.right {
    flex: 2;
    padding: 1rem;
}

.middle-spacer-right {
    display: flex;
    flex-direction: row;
}

.left-stack, .right-stack {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.top-spacer-right {
    min-height: 120px;
}

.create {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: green;
    color: #FFF;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}
.vertical-container {
    display: flex;
    flex-direction: column;
}

